/* Vos customisations des classes de Bootstrap */
#home {
    background-image: url(/bootstrap-onemillionlines/Squelette/images/hero-image.jpg);
    background-size: cover;

}
hr {
    width: 7%;
}
h1{
   font-family: Arvo;
}
h2{
   font-family: Arvo;
}

.x{
    position: fixed;
    right: 15px;
    bottom: 15px;
    
}








/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
